* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f3eacb;
  color: #1e3a34;
}
html {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(30, 58, 52, 0.9);
  color: #fff;
  position: fixed;
  width: 100vw;

  z-index: 1000;
}
nav ul {
  display: flex;
  flex-direction: row;

  gap: 3rem;

  padding: 0 15px 0 0;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: rgb(189, 181, 181);
}
nav a:hover {
  text-decoration: underline;
}
nav a:active {
  background-color: blue;
  color: white;
}
.logo {
  font-size: 36px;
  color: rgb(189, 181, 181);
}
.menu {
  display: none;
}
.stat {
  display: none;
}
.cta-button {
  background: #1e5631;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s ease;
}
.cta-button:hover {
  background: #c2a661;
  transform: scale(1.05);
}

/* styling main */

section {
  text-align: center;

  font-size: 26px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #6b8f71, #1e3a34);
  color: white;
  text-align: center;
  padding: 20px;
  gap: 1rem;
}
.hero-content {
  max-width: 600px;
  color: black;
  font-size: 22px;
}
.hero-content p {
  padding-bottom: 2rem;
}
.hero-image img {
  width: 250px;

  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
/* styling about */
#about {
  padding: 20px 0;
  text-align: center;
  line-height: 1.8;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-size: 26px;
}

#about h2 {
  color: #1e3a34;
  font-size: 32px;
  margin-bottom: 20px;
}
#about li {
  list-style: none;
  font-size: 22px;
}
#about p {
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  padding: 10px 0;
}
/* styling portfolio */
#porfolio {
  padding-top: 50px;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;

  gap: 30px;
  padding: 20px;
}

.project {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 400px;
  cursor: pointer;
}
.project a {
  text-decoration: none;
  color: black;
}
.project:hover {
  transform: scale(1.05);
}
/* styling services */
#services {
  background: #f8f9fa;
  padding: 80px 40px;
  text-align: center;
}

#services h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

#services ul {
  list-style: none;
  font-size: 22px;
}
#services li {
  gap: 5rem;
}

/* styling contact */
#contact {
  background: #34495e;
  padding: 80px 40px;
  text-align: center;
  color: white;
}
#contact h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
#contact li {
  list-style: none;
  font-size: 22px;
}
#contact h3 {
  font-size: 24px;
}
/* Footer */
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.store {
  display: none;
}
/*mobile Responsive Design */
@media (max-width: 768px) {
  nav ul {
    display: none;
    background-color: #1e5631;
    position: absolute;

    top: 4.8rem;
    width: 100vw;
    height: 200px;
    right: -1px;
  }
  nav {
    background-color: rgb(114, 82, 19);
    display: flex;

    width: 100vw;
    position: fixed;
  }
  .visible li {
    margin-top: 0.4rem;
    border-bottom: 1px solid black;
  }
  nav li a {
    color: white;
  }
  nav .logo {
    font-size: 20px;
    padding-top: 0.6rem;
    font-weight: 900;
    color: black;
  }
  nav a:hover {
    text-decoration: none;
  }
  .cta-button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .hero h1 {
    font-size: medium;
    font-weight: 800;
  }
  .hero p {
    font-size: medium;
    width: 70%;

    justify-self: center;
  }
  #about {
    padding-bottom: 0.5rem;
    gap: 0.7rem;
  }
  #about h2 {
    margin: 5px;
    font-size: 22px;
  }
  #about p {
    font-size: 15px;
    line-height: 1.3;
    width: 95%;
    padding: 0;
  }
  #about h3 {
    padding-top: 1rem;
    font-size: 22px;
  }
  #about ul {
    text-align: left;
    padding-left: 2rem;
  }
  #about li {
    list-style-type: none;
    font-size: 15px;
  }
  .portfolio-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .project {
    display: flex;
    flex-direction: row;

    width: 60vw;
  }
  .ph {
    font-size: 20px;
  }
  #services h2 {
    font-size: 22px;
  }
  #services li {
    font-size: 17px;
    text-align: left;
  }
  #contact {
    font-size: 1.1rem;
    text-align: left;
  }
  #contact li {
    list-style: none;
    font-size: 15px;
  }
  #contact i {
    gap: 1rem;
  }

  #contact h3 {
    font-size: 15px;
    padding-top: 2.5rem;
  }
  #contact h2 {
    font-size: 22px;
  }

  .menu {
    display: block;
    margin-top: 10px;
    right: 10px;
  }
  .menu img {
    width: 35px;
    height: 35px;
  }
  .visible {
    display: block;
  }

  .stat {
    display: none;
    right: 15px;
    top: 2rem;
    position: absolute;
  }
  .stat img {
    width: 30px;
    height: 30px;
  }
  footer {
    font-size: 0.7rem;
  }
}
